:root{
	font-size: 62.5%;
}

.planos{
	background-color:#EE6451;
	border-radius:3.2rem;
	padding:4rem;
}

h1{
	font-family:"Sigmar";
	font-weight:400;
	color:#FFF5EB;
	text-align:center;
	font-size: 3.9rem;
}

.cards{
	display: flex;
	justify-content: center;
	gap: 4rem;
}

.card{
	background-color:#FFFFFF;
	width:25rem;
	border-radius:1.6rem;
	padding:1.6rem;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.imagem{
	width:10rem;
}

.titulo{
	font-family:"Sigmar";
	font-size: 3.1rem;
	font-weight:400;
	color:#444444;
}

.descricao{
	font-family:"Poppins";
	font-size: 1.6rem;;
	color:#444444;
	text-align:center;
}

.preco{
	font-family:"Sigmar";
	font-weight:400;
	font-size: 4rem;
	color:#EE6451;
}

.botao{
	background-color:#EE6451;
	padding:0.8rem 2.4rem;
	border-radius: 3.2rem;
	border:none;
	font-family:"Poppins";
	font-size: 2rem;
	color:#FFFFFF;
}