:root{
	font-size: 68.5%;
}

body{
	font-family:"Inter";
	font-weight:500;
}

img{
	display:block;
	width:16rem;
}

.categorias{
	width: 40%;

	display: flex;
	flex-wrap: wrap;
	column-gap: 3rem;
	row-gap: 2.4rem;
}

.titulo-categoria{
	width:16rem;
	height:3.5rem;
	background-color:#000000;

	display: flex;
	align-items: center;
	justify-content: center;
}

.titulo-categoria span{
	font-size: 1.6rem;
	color:white;
}

