:root{
	font-size: 62.5%;
}

.menu {
	width:200px;
	background-color: #01080E;
	padding: 20px;
	display: flex;
	flex-direction: column;
	
	gap: 1rem;
}

.menu img{
	width:144px;
	margin-bottom:20px;
}

.menu a {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: white;
	text-decoration: none;
	font-family:"Open Sans";
	font-size:16px;
}

.menu a:hover{
	color:#2BDEFD;
}