:root{
	font-size: 68.5%;
}

body{
	background: linear-gradient(180deg, rgba(0,47,82,1) 0%, rgba(50,101,137,1) 100%);
	background-repeat:no-repeat;
	font-family:"Poppins";

	display: flex;
	justify-content: center;
}

.topicos-visitados {
	padding:2rem;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h2{
	font-size: 2.4rem;
	font-weight:300;
	color:#FFFFFF;
}

.topicos{
	display: flex;
	flex-wrap: wrap;
	gap: 2.4rem;
	justify-content: center;
	align-items: center;
}

.topicos span{
	background-color:#EB9B00;
	font-size: 2.4rem;
	font-weight: 600;
	padding: 3.2rem 2.4rem;
	color: #FFFFFF;
	text-align:center;
}
